*{
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
    --blue: #02559d;
    --green: #81c336;
}

body{
	background-color: var(--blue);
	margin: 0;
	padding: 0;
}

header, main, footer{
	background-color: white;
	padding: 2em;
}

header, footer{
	min-height: 15vmin;
}

header{
	border-bottom: 10px solid var(--green);
}

h1{
	font-size: 3vmax;
	text-align: center;
}

main{
    width: 80%;
    margin: 0 auto;
	min-height: 70vmin;
}

#level{
    text-align: center;
    font-size: 4vw;
}

#title_format{
	display: grid;
	grid-template-columns: 1fr 8fr;
	margin-top: 2rem;
	gap: 1.2rem;
	align-content: baseline;
	justify-content: baseline;
}

.i {
	width: 100%;
	display: block;
}

#slider{
    -webkit-appearance: none;
	appearance: none;
	width: 100%;
	height: 100%;
	background: transparent;
    margin: 0 auto;

	&:focus {
		outline: none;
	}

	&::-webkit-slider-thumb {
		-webkit-appearance: none;
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: var(--blue);
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgba(#000, 0.5);

		cursor: pointer;
		
	}

	&::-webkit-slider-runnable-track {
		width: 60%;
		height: 9px;
		background: #bdbdbd;
		border-radius: 3rem;

		transition: all 0.5s;
		cursor: pointer;
	}

	&:hover::-webkit-slider-runnable-track {
		background: var(--green);
	}

	&::-ms-track {
		width: 60%;
		cursor: pointer;
		height: 9px;

		transition: all 0.5s;
		/* Hides the slider so custom styles can be added */
		background: transparent;
		border-color: transparent;
		color: transparent;
	}

	&::-ms-thumb {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #ffffff;
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgba(#000, 0.5);

		cursor: pointer;
	}

	&::-ms-fill-lower {
		background: #bdbdbd;
		border-radius: 3rem;
	}
	&:focus::-ms-fill-lower {
		background: var(--green);
	}
	&::-ms-fill-upper {
		background: #bdbdbd;
		border-radius: 3rem;
	}
	&:focus::-ms-fill-upper {
		background: var(--green);
	}

	&::-moz-range-thumb {
		height: 16px;
		width: 16px;
		border-radius: 50%;
		background: #ffffff;
		margin-top: -5px;
		box-shadow: 1px 1px 2px rgba(#000, 0.5);

		cursor: pointer;
	}

	&::-moz-range-track {
		width: 60%;
		height: 9px;
		background: #bdbdbd;
		border-radius: 3rem;

		transition: all 0.5s;
		cursor: pointer;
	}
	&:hover::-moz-range-track {
		background: var(--green);
	}
}

footer{
	background-color: var(--green);
}

button{
	background-color: white;
	color: var(--blue);
	border: 1px solid var(--blue);
	padding: 6px;
}

button:active{
	background-color: var(--green);
	color: black;
}

#cc_info{
	font-size: .8em;
	text-align: center;
}